<h1>Nuevo Producto</h1>
<hr>
<form (ngSubmit)="onSubmit()" [formGroup]="miFormulario" autocomplete="off">
  <div class="row mb-3">
    <div class="col-md-6 col-cm-12">
      <label for="exampleFormControlInput1" class="form-label">Nombre del producto</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nombre" [ngClass]="{
        'is-invalid': campoNoValido('nombre'),
        'is-valid': campoValido('nombre')
       }">
       <span class="text-danger" *ngIf="campoNoValido('nombre')">
        Este campo es obligatorio
      </span>
      <span class="valid-feedback" *ngIf="campoValido('nombre')">
        Nombre Valido
      </span>
    </div>
    <div class="col-md-6 col-cm-12">
      <label for="exampleFormControlInput1" class="form-label">Precio</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="precio" [ngClass]="{
        'is-invalid': campoNoValido('precio'),
        'is-valid': campoValido('precio')
       }">
       <span class="text-danger" *ngIf="campoNoValido('precio')">
        Este campo es obligatorio y debe ser mayor a 0
      </span>
      <span class="valid-feedback" *ngIf="campoValido('precio')">
        Precio Valido
      </span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">
    <i class="fas fa-save"></i>
    Guardar
  </button>
</form>

